*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2c3043;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,160px);
    gap: 20px;
    padding: 20px;
    margin: 20px;
 }
 #box-3{
    grid-row: 2/4;
 }
 #box-4{
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,150px);
    gap: 10px;
    padding: 10px;
    /* margin: 10px; */
 }
 #sub-box-1{
    grid-column: 1/3;
 }
 
 .btn{
   text-decoration: none;
   font-size: 15px;
   border: 2px solid black;
   border-radius: 5px;
   color: black;
   padding: 2px;
}